<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">  

<!-- this is our beans 
	 the values are injecting by setter method
	 here we are using value as a Element	
-->
	<bean class="com.springCore.Student" name="student1">
		<property name="studentId">
			<value>100</value>
		</property>
		
		<property name="studentName">
			<value>Sachin Bhardwaj</value>
		</property>
		
		<property name="studentAddress">
			<value>Mathura</value>
		</property>
	</bean>    
	
	
<!--	Now we will use values as a Attribute not a tag  -->
	<bean class="com.springCore.Student" name="student2">
	
		<property name="studentId" value="101"/>
		<property name="studentName" value="Monu Verma"/>
		<property name="studentAddress" value="Kotdwar"/>
		
	</bean> 
	
<!--	Now we'll give the values using P Schema  -->
	<bean class="com.springCore.Student" name="student3" 
	p:studentId="102" p:studentName="mukul joshi" p:studentAddress="kotdwar" />
    
</beans>